body,
html,
div,
img,
a,
p,
ul,
ol,
dl,
dd,
dt,
li,
h1,
h2,
h3,
h4,
h5,
em,
i,
form,
input,
span,
button {
	*zoom: 1;
	margin: 0;
	padding: 0;
	font-style: normal;
	outline: none;
	list-style: none
}

img {
	outline: none;
	border: none
}

label {
	font-weight: normal
}

@font-face {
	font-family: 'MicrosoftYaHeiUILight';
	src: url('/resource/fonts/MicrosoftYaHeiUILight.eot?7kyxez');
	src: url('/resource/fonts/MicrosoftYaHeiUILight.eot?7kyxez#iefix') format('embedded-opentype'), url('/resource/fonts/MicrosoftYaHeiUILight.ttf?7kyxez') format('truetype'), url('/resource/fonts/MicrosoftYaHeiUILight.woff?7kyxez') format('woff'), url('/resource/fonts/MicrosoftYaHeiUILight.svg?7kyxez#MicrosoftYaHeiUILight') format('svg')
}

body,
html {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "Microsoft YaHei", "微软雅黑", Tahoma, Helvetica
}

a {
	color: inherit;
	text-decoration: none
}

@font-face {
	font-family: 'MiFie-Website-Font';
	src: url('/resource/fonts/MiFie-Website-Font.eot?7kyxez');
	src: url('/resource/fonts/MiFie-Website-Font.eot?7kyxez#iefix') format('embedded-opentype'), url('/resource/fonts/MiFie-Website-Font.ttf?7kyxez') format('truetype'), url('/resource/fonts/MiFie-Website-Font.woff?7kyxez') format('woff'), url('/resource/fonts/MiFie-Website-Font.svg?7kyxez#MiFie-Website-Font') format('svg');
	font-weight: normal;
	font-style: normal
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: 'MiFie-Website-Font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-home:before {
	content: "\e900"
}

.icon-bank-card:before {
	content: "\e901"
}

.icon-envelope:before {
	content: "\e902"
}

.icon-mobile:before {
	content: "\e903"
}

.icon-borrow:before {
	content: "\e904"
}

.icon-investment:before {
	content: "\e905"
}

.icon-money:before {
	content: "\e906"
}

.icon-gift:before {
	content: "\e907"
}

.icon-settings:before {
	content: "\e908"
}

.icon-user:before {
	content: "\e909"
}

.icon-key:before {
	content: "\e90a"
}

.icon-user-o:before {
	content: "\e90b"
}

.icon-image:before {
	content: "\e90c"
}

.icon-lock:before {
	content: "\e90d"
}

.icon-mobile-o:before {
	content: "\e90e"
}

.icon-message:before {
	content: "\e90f"
}

.icon-phone:before {
	content: "\e910"
}

.icon-management:before {
	content: "\e911"
}

.icon-user-money:before {
	content: "\e912"
}

.icon-coin:before {
	content: "\e913"
}

.icon-pie:before {
	content: "\e914"
}

.icon-ie:before {
	content: "\e915"
}

.icon-router:before {
	content: "\e916"
}

.icon-security:before {
	content: "\e917"
}

.icon-team:before {
	content: "\e918"
}

.icon-files:before {
	content: "\e919"
}

.icon-pencil-square:before {
	content: "\e91a"
}

.icon-list:before {
	content: "\e91b"
}

.icon-user-phone:before {
	content: "\e91c"
}

.icon-text-ok:before {
	content: "\e91d"
}

.icon-protect:before {
	content: "\e91e"
}

.icon-folder:before {
	content: "\e91f"
}

.icon-check:before {
	content: "\e920"
}

.icon-information:before {
	content: "\e921"
}

.icon-calculator:before {
	content: "\e922"
}

.icon-ordered:before {
	content: "\e923"
}

.icon-pencil-text-o:before {
	content: "\e924"
}

.icon-security-o:before {
	content: "\e925"
}

.icon-telephone:before {
	content: "\e926"
}

.icon-hna:before {
	content: "\e927"
}

.icon-usd:before {
	content: "\e928"
}

.icon-cis:before {
	content: "\e929"
}

.icon-china-life:before {
	content: "\e92a"
}

.icon-safe360:before {
	content: "\e92b"
}

.icon-baidu:before {
	content: "\e92c"
}

.icon-insurance:before {
	content: "\e92d"
}

.icon-reuters:before {
	content: "\e92e"
}

.icon-picc:before {
	content: "\e92f"
}

.icon-union-pay:before {
	content: "\e930"
}

.icon-cfca:before {
	content: "\e931"
}

.icon-wechat:before {
	content: "\e932"
}

.icon-wechat-o:before {
	content: "\e933"
}

.icon-usd-barchart:before {
	content: "\e934"
}

.icon-left-arrow:before {
	content: "\e935"
}

.icon-money-bag:before {
	content: "\e936"
}

.icon-pay-square:before {
	content: "\e937"
}

.icon-footer-360:before {
	content: "\e938"
}

.icon-footer-chinanet:before {
	content: "\e939"
}

.icon-footer-icann:before {
	content: "\e93a"
}

.icon-footer-cfca:before {
	content: "\e93b"
}

.icon-footer-zx110:before {
	content: "\e93c"
}

.icon-footer-trade:before {
	content: "\e93d"
}

.icon-voice:before {
	content: "\e93e"
}

.icon-weibo:before {
	content: "\e93f"
}

.icon-book:before {
	content: "\e940"
}

.icon-service-o:before {
	content: "\e941"
}

.icon-service:before {
	content: "\e942"
}

.icon-mobile-2:before {
	content: "\e943"
}

.icon-right-arrow:before {
	content: "\e944"
}

/*.icon-logo:before {
	content: "\e945"
}*/

.icon-weijinsuo:before {
	content: "\e946"
}

.icon-footer-trust:before {
	content: "\e948"
}

.icon-icann:before {
	content: "\e94a"
}

.icon-industry:before {
	content: "\e94b"
}

.icon-cfca2:before {
	content: "\e949"
}

.icon-360:before {
	content: "\e947"
}

.icon-inquiry:before {
	content: "\e94d"
}

.icon-netChina:before {
	content: "\e94c"
}

.icon-trusted:before {
	content: "\e94e"
}

.icon-unionpay:before {
	content: "\e94f"
}

.icon-hand:before {
	content: "\e950"
}

.icon-lock2:before {
	content: "\e951"
}

.icon-capital:before {
	content: "\e952"
}

.icon-dollar:before,
.icon-dollar1:before,
.icon-dollar2:before {
	content: "\e953"
}

.icon-unionpaySquare:before {
	content: "\e954"
}

.icon-uniE955:before {
	content: "\e955"
}

.icon-uniE956:before {
	content: "\e956"
}

.icon-uniE957:before {
	content: "\e957"
}

.icon-borrower:before {
	content: "\e958"
}

.icon-security2:before {
	content: "\e959"
}

.icon-appointment:before {
	content: "\e95a"
}

.icon-purpose:before {
	content: "\e95b"
}

.icon-calculator2:before {
	content: "\e95c"
}

.icon-search:before {
	content: "\e95d"
}

.icon-downArrow:before {
	content: "\e95e"
}

.icon-entry:before {
	content: "\e95f"
}

.icon-approach:before {
	content: "\e960"
}

.icon-scope:before {
	content: "\e961"
}

.icon-institution:before {
	content: "\e962"
}

.icon-pencil:before {
	content: "\e963"
}

.icon-ok-o:before {
	content: "\e964"
}

.icon-warn:before {
	content: "\e965"
}

.icon-triangle:before {
	content: "\e966"
}

.icon-check:before {
	content: "\e967"
}

.icon-wrong:before {
	content: "\e968"
}

.icon-account:before {
	content: "\e969"
}

.icon-envelope-o:before {
	content: "\e96a"
}

.icon-invitation:before {
	content: "\e96b"
}

.icon-locked:before {
	content: "\e96c"
}

.icon-growing:before {
	content: "\e96d"
}

.icon-cost:before {
	content: "\e96e"
}

.icon-term:before {
	content: "\e96f"
}

.icon-perLimit:before {
	content: "\e970"
}

.icon-oriBorrower:before {
	content: "\e971"
}

.icon-refresh:before {
	content: "\e972"
}

.icon-product:before {
	content: "\e973"
}

.icon-income:before {
	content: "\e974"
}

.icon-unionPaySmall:before {
	content: "\e975"
}

.icon-calendar:before {
	content: "\e976"
}

.icon-package:before {
	content: "\e977"
}

.icon-leftLimit:before {
	content: "\e978"
}

.icon-great:before {
	content: "\e979"
}

.icon-shield:before {
	content: "\e97a"
}

.icon-legal:before {
	content: "\e97b"
}

.icon-authentication:before {
	content: "\e97c"
}

.icon-stock:before {
	content: "\e97d"
}

.icon-requirement:before {
	content: "\e97e"
}

.icon-validity:before {
	content: "\e97f"
}

.icon-cash:before {
	content: "\e980"
}

.icon-envelope2:before {
	content: "\e981"
}

.icon-rocket:before {
	content: "\e982"
}

.icon-squre-plus:before {
	content: "\e983"
}

.icon-squre-minus:before {
	content: "\e984"
}

.icon-circle-plus:before {
	content: "\e985"
}

.icon-circle-minus:before {
	content: "\e986"
}

.icon-home-m:before {
	content: "\e987"
}

.icon-person-m:before {
	content: "\e988"
}

.icon-loan-m:before {
	content: "\e989"
}

.icon-msg:before {
	content: "\e98a"
}

.icon-asset:before {
	content: "\e98b"
}

.icon-alarm-clock:before {
	content: "\e98c"
}

.icon-huaxing:before {
	content: "\e98d"
}

.icon-cunguan:before {
	content: "\e98e"
}

.icon-borrowRecords:before {
	content: "\e98f"
}

.icon-capitalSecurity:before {
	content: "\e990"
}

.icon-investmentRecord:before {
	content: "\e991"
}

.icon-transactionRecord:before {
	content: "\e992"
}

.icon-Bank-card:before {
	content: "\e98e"
}

.icon-Computer-account:before {
	content: "\e98f"
}

.icon-Investment:before {
	content: "\e990"
}

.icon-Mobile-account:before {
	content: "\e991"
}

.icon-Real-name-authentication:before {
	content: "\e992"
}

.icon-Recharge:before {
	content: "\e993"
}

.icon-Withdrawals:before {
	content: "\e994"
}

.icon-next:before {
	content: "\e995"
}

.icon-last:before {
	content: "\e996"
}

.icon-first:before {
	content: "\e997"
}

.icon-previous:before {
	content: "\e998"
}

.icon-qa:before {
	content: "\e999"
}

.icon-checkBox:before {
	content: "";
	width: 16px;
	height: 16px;
	border-radius: 10px;
	border: 1px solid #c9c9c9;
	display: inline-block;
	font-size: 16px;
	position: relative;
	top: 2px
}

.check-box:checked+.icon-checkBox:before {
	content: "\e964";
	color: #576b7f;
	border: none
}

.modal.in .modal-dialog .modal-content {
	border-radius: 8px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
	border-top: none
}

.modal.in .modal-dialog .modal-header {
	border-bottom: none;
	color: #fff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background: #dd3137;
	position: relative
}

.modal.in .modal-dialog .modal-header h4 {
	font-weight: normal
}

.modal.in .modal-dialog .modal-header button.close {
	color: #fff;
	opacity: 1;
	filter: alpha(opacity=100);
	font-size: 24px;
	font-weight: normal
}

.modal.in .modal-dialog .modal-header:before {
	content: "";
	position: absolute;
	width: 90px;
	height: 90px;
	bottom: 42px;
	left: 5px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("/resource/web/img/mood/success.png")
}

.modal.in .modal-dialog .modal-header.type-fail:before {
	background-image: url("/resource/web/img/mood/fail.png")
}

.alertModal .modal-body {
	display: table;
	min-height: 100px;
	text-align: center;
	width: 100%
}

.alertModal .modal-body div.box {
	display: table-cell;
	vertical-align: middle;
	font-size: 16px
}

.alertModal .modal-footer {
	border-top: none
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0
}


.news-bg .tab-content  .tab-pane {
  display: none;
}
.news-bg .tab-content  .active {
  display: block;
}



input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #ccc
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #ccc
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #ccc
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #ccc
}

.ctn {
	margin: 0 auto;
	text-align: center
}

a:hover,
a:visited,
a:link,
a:active {
	text-decoration: none !important;
	cursor: pointer !important
}

.investButton {
	padding: 3px 0 0;
	margin: 0 auto;
	text-align: center
}

.investButton span {
	color: #475b66;
	background-color: #fff;
	padding: 5px 55px;
	border-radius: 3px;
	border: 1px solid #475b66;
	font-size: 14px;
	display: inline-block
}

.starbg {
	width: 95px;
	height: 14px;
	overflow: hidden;
	display: inline-block;
	position: relative;
	top: 5px
}

.starbg .star-gray {
	background: url(/resource/web/img/index/star-gray.png) no-repeat;
	height: 18px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0
}

.starbg .star-active {
	background: url(/resource/web/img/index/star-active.png) no-repeat;
	height: 18px;
	position: absolute;
	left: 0;
	top: 0
}

.progress {
	height: 8px
}

.progress-bar {
	background-color: #475b66
}

.status1 {
	position: absolute;
	width: 80px;
	height: 80px;
	border: 2px solid #dd3137;
	border-radius: 50%;
	top: 130px;
	right: 16px;
	color: #dd3137;
	transform: rotate(-32deg);
	font-weight: bold;
	letter-spacing: -1px;
	z-index: 2
}

.status1:before {
	content: '已售罄';
	position: absolute;
	left: 10px;
	font-size: 20px;
	top: 25px
}

.status5 {
	position: absolute;
	width: 80px;
	height: 80px;
	border: 2px solid #dd3137;
	border-radius: 50%;
	top: 130px;
	right: 16px;
	color: #dd3137;
	transform: rotate(-32deg);
	font-weight: bold;
	letter-spacing: -1px;
	z-index: 2
}

.status5:before {
	content: '已满标';
	position: absolute;
	left: 10px;
	font-size: 20px;
	top: 25px
}

.status7 {
	position: absolute;
	width: 80px;
	height: 80px;
	border: 2px solid #dd3137;
	border-radius: 50%;
	top: 130px;
	right: 16px;
	color: #dd3137;
	transform: rotate(-32deg);
	font-weight: bold;
	letter-spacing: -1px;
	z-index: 2
}

.status7:before {
	content: '还款中';
	position: absolute;
	left: 10px;
	font-size: 20px;
	top: 25px
}

.status8 {
	position: absolute;
	width: 80px;
	height: 80px;
	border: 2px solid #dd3137;
	border-radius: 50%;
	top: 130px;
	right: 16px;
	color: #dd3137;
	transform: rotate(-32deg);
	font-weight: bold;
	letter-spacing: -1px;
	z-index: 2
}

.status8:before {
	content: '已结清';
	position: absolute;
	left: 10px;
	font-size: 20px;
	top: 25px
}

.status9 {
	position: absolute;
	width: 80px;
	height: 80px;
	border: 2px solid #dd3137;
	border-radius: 50%;
	top: 130px;
	right: 16px;
	color: #dd3137;
	transform: rotate(-32deg);
	font-weight: bold;
	letter-spacing: -1px;
	z-index: 2
}

.status9:before {
	content: '已流标';
	position: absolute;
	left: 10px;
	font-size: 20px;
	top: 25px
}

.modal-open {
	padding-right: 15px
}

.vipTag {
	position: absolute;
	transform: rotate(-45deg);
	background-color: #fff;
	left: -11px;
	top: -24px;
	padding: 2px 2px 1px 0;
	font-size: 12px;
	color: #fff;
	border-top-right-radius: 3px
}

.vipTag .rightRed {
	position: absolute;
	border-left: 10px solid #dd3137;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #dd3137;
	top: 0;
	left: 25px
}

.vipTag .leftRed {
	position: absolute;
	border-left: 10px solid transparent;
	border-top: 10px solid transparent;
	border-right: 10px solid #dd3137;
	border-bottom: 10px solid #dd3137;
	top: 0;
	left: -20px
}

input[type="text"]:focus {
	border-color: #66afe9 !important;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
}

.pagination .search_input {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	border-radius: 5px;
	border: 1px solid #e1e2e3;
	line-height: 2.228;
	color: #475b66;
	padding-left: 5px
}

.pagination .search_but {
	cursor: pointer;
	display: inline-block;
	float: right;
	line-height: 1.428;
	padding: 6px 10px;
	vertical-align: bottom;
	margin-left: 18px
}

.pagination li a {
	margin: 0 9px;
	color: #475b66;
	border: 1px solid #ccc;
	border-radius: 5px
}

.pagination li a .icon-leftArrow {
	transform: rotate(90deg);
	display: inline-block
}

.pagination li a .icon-leftArrow:before {
	content: "\e95e"
}

.pagination li a .icon-rightArrow {
	transform: rotate(-90deg);
	display: inline-block
}

.pagination li a .icon-rightArrow:before {
	content: "\e95e"
}

.pagination li a:hover {
	border-radius: 5px;
	color: #475b66
}

.pagination li>span {
	color: #475b66;
	border: none;
	cursor: text
}

.pagination li>span:hover {
	border-radius: 5px;
	background: none
}

.pagination li.active a {
	background-color: #475b66;
	border-radius: 5px
}

.pagination li.active a:hover {
	background-color: #475b66;
	cursor: text !important
}

.pagination li.paginfo {
	line-height: 26px;
	color: #999
}

.textOverflow {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

.tooltip {
	display: inline-table !important
}

.tooltip .tooltip-inner {
	text-align: left
}

.yellowTip {
	background-color: #f6c834;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: bottom;
	color: #fff;
	text-align: center;
	font-size: 16px
}

.yellowTip:before {
	content: '?'
}

.redStar:before {
	content: '*';
	color: #dd3137;
	position: relative;
	top: 4px;
	right: 3px
}

.top {
	box-sizing: border-box;
	height: 36px;
	line-height: 36px;
	border-bottom: 1px solid #ccc;
	color: #414141;
	font-size: 12px
}

.top .container .left-link {
	float: left
}

.top .container .left-link i {
	margin-right: 3px;
	position: relative;
	top: 1px;
	font-size: 13px
}

.top .container .right-link {
	float: right
}

.top .container span,
.top .container a {
	display: inline-block;
	cursor: pointer;
	position: relative
}

.top .container .hide-img {
	display: none;
	position: absolute;
	left: -10px;
	top: 32px;
	z-index: 199
}

.top .container span:hover .hide-img {
	display: block
}

.top .container .line {
	color: #ccc;
	padding: 0 7px;
	position: relative;
	top: -1px
}

.top .container .icon-envelope-o {
	position: relative;
	font-size: 16px;
	top: 3px
}

.top .container .reddot:after {
	content: " ";
	width: 8px;
	height: 8px;
	border-radius: 6px;
	background: #dd3137;
	position: absolute;
	top: -2px;
	right: -1px
}

nav {
	padding: 18px 0
}

nav .container {
	height: 50px;
	line-height: 50px
}

nav .container .menu {
	float: right;
	color: #333;
	font-size: 18px
}

nav .container .menu li {
	display: inline-block
}

nav .container .menu li a {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 10px
}

nav .container .menu li a:hover,
nav .container .menu li a.active {
	border-bottom: 3px solid #dd3137
}

nav .container .menu li .avatar {
	width: 36px;
	height: 36px;
	border-radius: 30px;
	vertical-align: middle
}

nav .container .menu li span.account {
	vertical-align: middle;
	display: inline-block;
	width: 35px;
	height: 35px;
	background: url("/resource/web/img/icons/anonymous.jpg") center no-repeat;
	background-size: contain
}

nav .container .menu li:last-child a,
nav .container .menu li.anonymous a {
	padding-right: 0
}

nav .container .menu li:last-child a:hover,
nav .container .menu li.anonymous a:hover {
	border-bottom: none
}

nav .container .menu li#nav-user a {
	position: relative
}

nav .container .menu li#nav-user a i {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 4em;
	height: 3px;
	background: #dd3137;
	display: none
}

nav .container .menu li#nav-user a.active,
nav .container .menu li#nav-user a:hover {
	border-bottom: none
}

nav .container .menu li#nav-user a.active i,
nav .container .menu li#nav-user a:hover i {
	display: block
}

.logo {
	font-size: 0;
	float: left
}

.logo>a {
	display: inline-block
}

.logo>a:hover span {
	color: #428bca
}

.logo span {
	display: inline-block;
	vertical-align: middle;
	line-height: 1em
}

.logo .iconBox .icon-logo {
	color: #dd3137;
	font-size: 38px;
	margin-right: 8px
}

.logo .iconBox .icon-weijinsuo {
	color: #424242;
	font-size: 24px;
	position: relative;
	top: -6px
}

.logo .point {
	border-left: 1px solid #ccc;
	margin-left: 15px;
	padding-left: 15px;
	-webkit-transform: translate3d(0, 0, 0)
}

.logo .point span,
.logo .point span img {
	display: inline-block;
	transform-origin: left center;
	-webkit-transform-origin: left center;
	-o-transform-origin: left center;
	-ms-transform-origin: left center
}

.logo .point .pointText {
	color: #333;
	font-size: 16px;
	line-height: 1.5em;
	background: #fff
}

.logo .point .pointText .i1 {
	background: #ff545c;
	color: #fff;
	font-size: 13px;
	padding: 2px 9px;
	border-radius: 5px
}

.logo .point .pointText .i2:hover {
	color: #333
}

.logo .point .pointText b {
	margin: 0 1px
}

.logo .point .pointImg {
	position: relative
}

.logo .point .pointImg img {
	height: 70px;
	position: absolute;
	top: -38px;
	left: 0
}

@keyframes therotate {
	0% {
		transform: rotateY(0deg);
		opacity: 1
	}
	10% {
		transform: rotateY(45deg);
		opacity: .5
	}
	20% {
		transform: rotateY(90deg);
		opacity: 0
	}
	50% {
		transform: rotateY(0deg);
		opacity: 0
	}
	70% {
		transform: rotateY(0deg);
		opacity: 1
	}
	100% {
		transform: rotateY(0deg);
		opacity: 1
	}
}

@-webkit-keyframes therotate {
	0% {
		transform: rotateY(0deg);
		opacity: 1
	}
	10% {
		transform: rotateY(45deg);
		opacity: .5
	}
	20% {
		transform: rotateY(90deg);
		opacity: 0
	}
	50% {
		transform: rotateY(0deg);
		opacity: 0
	}
	70% {
		transform: rotateY(0deg);
		opacity: 1
	}
	100% {
		transform: rotateY(0deg);
		opacity: 1
	}
}

@-ms-keyframes therotate {
	0% {
		transform: rotateY(0deg);
		opacity: 1
	}
	10% {
		transform: rotateY(45deg);
		opacity: .5
	}
	20% {
		transform: rotateY(90deg);
		opacity: 0
	}
	50% {
		transform: rotateY(0deg);
		opacity: 0
	}
	70% {
		transform: rotateY(0deg);
		opacity: 1
	}
	100% {
		transform: rotateY(0deg);
		opacity: 1
	}
}

@-o-keyframes therotate {
	0% {
		transform: rotateY(0deg);
		opacity: 1
	}
	10% {
		transform: rotateY(45deg);
		opacity: .5
	}
	20% {
		transform: rotateY(90deg);
		opacity: 0
	}
	50% {
		transform: rotateY(0deg);
		opacity: 0
	}
	70% {
		transform: rotateY(0deg);
		opacity: 1
	}
	100% {
		transform: rotateY(0deg);
		opacity: 1
	}
}

@keyframes therotate2 {
	0% {
		transform: rotateY(0deg);
		opacity: 1
	}
	50% {
		transform: rotateY(0deg);
		opacity: 1
	}
	60% {
		transform: rotateY(45deg);
		opacity: .5
	}
	70% {
		transform: rotateY(90deg);
		opacity: 0
	}
	100% {
		transform: rotateY(90deg);
		opacity: 0
	}
}

@-webkit-keyframes therotate2 {
	0% {
		transform: rotateY(0deg);
		opacity: 1
	}
	50% {
		transform: rotateY(0deg);
		opacity: 1
	}
	60% {
		transform: rotateY(45deg);
		opacity: .5
	}
	70% {
		transform: rotateY(90deg);
		opacity: 0
	}
	100% {
		transform: rotateY(90deg);
		opacity: 0
	}
}

@-ms-keyframes therotate2 {
	0% {
		transform: rotateY(0deg);
		opacity: 1
	}
	50% {
		transform: rotateY(0deg);
		opacity: 1
	}
	60% {
		transform: rotateY(45deg);
		opacity: .5
	}
	70% {
		transform: rotateY(90deg);
		opacity: 0
	}
	100% {
		transform: rotateY(90deg);
		opacity: 0
	}
}

@-o-keyframes therotate2 {
	0% {
		transform: rotateY(0deg);
		opacity: 1
	}
	50% {
		transform: rotateY(0deg);
		opacity: 1
	}
	60% {
		transform: rotateY(45deg);
		opacity: .5
	}
	70% {
		transform: rotateY(90deg);
		opacity: 0
	}
	100% {
		transform: rotateY(90deg);
		opacity: 0
	}
}

.service {
	box-sizing: border-box;
	position: fixed;
	right: 3px;
	top: 21%;
	width: 45px;
	height: 142px;
	background-color: #fff;
	border: 1px solid #a9aeb1;
	color: #555;
	font-size: 18px;
	z-index: 999
}

.service a {
	display: block;
	padding: 15px 10px;
	text-align: center;
	line-height: 1.25em
}

.service a:hover {
	color: #fff
}

.service i {
	font-size: 22px
}

.service:hover {
	background: #dd3137;
	border: 1px solid #dd3137
}

.rocketPar {
	position: fixed;
	right: 3px;
	bottom: 0;
	display: none;
	z-index: 999
}

.rocketPar .rocketLine {
	font-size: 45px;
	display: inline-block;
	background-color: #fff;
	height: 45px;
	width: 45px;
	margin: 0 auto;
	text-align: center;
	background: #fff
}

.rocketPar .rocketLine:hover {
	background-color: #dd3137;
	color: #fff
}

.top .left-link .top-phone {
	cursor: inherit
}

.footer-box {
	background: #333;
	padding: 20px 0
}

.footer-box a {
	color: #ccc
}

.footer-box .footer-cot,
.footer-box .footer_bom {
	width: 1200px;
	color: #ccc;
	margin: 0 auto
}

.footer-box .footer-cot {
	padding: 10px 0 30px 0;
	display: table
}

.footer-box .footer-cot div {
	width: 33.33%;
	float: left
}

.footer-box .footer-cot .footer-wjs h3 {
	border: 1px #fff solid;
	color: #fff;
	margin-top: 13px;
	font-size: 25px;
	letter-spacing: 2px;
	padding: 4px 6px;
	width: 215px;
	text-align: center;
	border-radius: 2px
}

.footer-box .footer-cot .footer-wjs p {
	font-size: 14px
}

.footer-box .footer-cot .footer-wjs .footer-logo {
	color: #fff;
	position: relative
}

.footer-box .footer-cot .footer-wjs .footer-logo .icon-logo {
	font-size: 28px;
	width: 50px
}

.footer-box .footer-cot .footer-wjs .footer-logo .icon-weijinsuo {
	font-size: 17px;
	position: absolute;
	left: 55px;
	top: 6px
}

.footer-box .footer-cot .footer-wjs .footer-service {
	position: relative
}

.footer-box .footer-cot .footer-wjs .footer-service .icon-if {
	font-size: 16px;
	color: #fff;
	position: relative;
	top: 2px
}

.footer-box .footer-cot .footer-wjs .footer-service .icon-wechat:hover {
	cursor: pointer;
	color: #76aa7a
}

.footer-box .footer-cot .footer-wjs .footer-service .icon-weibo:hover {
	color: #f4756f
}

.footer-box .footer-cot .footer-wjs .footer-service .service-time {
	padding: 11px 0;
	display: inline-block
}

.footer-box .footer-cot .footer-wjs .footer-service .img-wx {
	position: absolute;
	width: 100px;
	top: 22px;
	left: -40px;
	display: none
}

.footer-box .footer-cot .footer-wjs .footer-service .icon-wechat:hover .img-wx {
	display: block
}

.footer-box .footer-cot .footer-about dl {
	float: left
}

.footer-box .footer-cot .footer-about dl dd {
	margin: 10px 0;
	font-size: 14px;
	line-height: 28px
}

.footer-box .footer-cot .footer-about .fa_new {
	padding: 0 80px
}

.footer-box div dl dt {
	color: #fff;
	font-size: 18px;
	font-weight: normal
}

.footer-box .footer-other p {
	text-align: right
}

.footer-box .footer-other span {
	height: 70px;
	width: 70px;
	display: inline-block;
	border-radius: 8px;
	background: #ccc;
	margin: 5px
}

.footer-box .footer-other .sml0 {
	margin: 5px 5px 5px 0
}

.footer-box .footer-other .smr0 {
	margin: 5px 0 5px 5px
}

.footer-box .footer-other h3 {
	text-align: left;
	padding: 0 0 13px 70px;
	color: #fff;
	font-size: 18px;
	font-weight: normal
}

.footer-box .footer-other p span i {
	display: inline-block;
	padding: 6px 0 0 6px;
	font-size: 58px;
	color: #585453
}

.footer-box .footer-other .ics1:hover i {
	color: #df3232
}

.footer-box .footer-other .ics2:hover i {
	color: #ab202a
}

.footer-box .footer-other .ics3:hover i {
	color: #159f69
}

.footer-box .footer-other .ics4:hover i {
	color: #ed6f00
}

.footer-box .footer-other .ics5:hover i {
	color: #004098
}

.footer-box .footer-other .ics6:hover i {
	color: #d32019
}

.footer-box .footer-other .ics7:hover i {
	color: #07569e
}

.footer-box .footer-other .ics8:hover i {
	color: #3eac4a
}

.footer-box .footer_info {
	clear: both;
	padding-top: 11px;
	display: table;
	float: left
}

.footer-box .footer_info li {
	float: left;
	padding: 0 18px;
	line-height: 20px
}

.footer-box .footer_info .fi_pl0 {
	padding-left: 0
}

.footer-box .footer_info .fi_pr0 {
	padding-right: 0
}

.footer-box .footer_info p {
	font-size: 12px;
	line-height: 38px
}

.footer-box .footer_bom {
	border-top: 1px #474747 dashed;
	font-size: 14px;
	padding: 10px 0;
	display: table
}

.footer-box .footer_bom p {
	padding: 10px 0 20px 0;
	float: right
}

.footer-box .footer_bom .footer_zs {
	margin-top: 15px;
	clear: both
}

.footer-box .footer_bom .footer_zs span {
	display: inline-block;
	width: 125.1px;
	height: 50px;
	background: #bcbcbc;
	margin: 0 12px
}

.footer-box .footer_bom .footer_zs span i {
	display: inline-block;
	padding: 8px 0 0 8px;
	font-size: 34px;
	color: #333
}

.footer-box .footer_bom .footer_zs span .icon-industry {
	padding-left: 11px
}

.footer-box .footer_bom .footer_zs span .icon-cfca2 {
	padding-left: 13px
}

.footer-box .footer_bom .footer_zs span .icon-360 {
	padding-left: 11px
}

.footer-box .footer_bom .footer_zs span .icon-trusted {
	padding-left: 11px
}

.footer-box .footer_bom .footer_zs .span-l0 {
	margin-left: 0
}

.footer-box .footer_bom .footer_zs .span-r0 {
	margin-right: 0
}

.footer-box .footer_bom .footer_zs span:hover i {
	color: #fff
}

.footer-box .footer_bom .footer_zs .fs1:hover {
	background: #00314b
}

.footer-box .footer_bom .footer_zs .fs2:hover {
	background: #b38d39
}

.footer-box .footer_bom .footer_zs .fs3:hover {
	background: #004098
}

.footer-box .footer_bom .footer_zs .fs4:hover {
	background: #58a433
}

.footer-box .footer_bom .footer_zs .fs5:hover {
	background: #0c6493
}

.footer-box .footer_bom .footer_zs .fs6:hover {
	background: #62b52f
}

.footer-box .footer_bom .footer_zs .fs7:hover {
	background: #d01029
}

.footer-box .footer_bom .footer_zs .fs8:hover {
	background: #e40000
}

.footer-box .footer-wjs .icon-gswj {
	position: relative;
	left: 55px;
	bottom: 23px
}

#org-dialog #subList {
	min-height: 160px
}

#org-dialog th {
	background: #efefef;
	text-align: center
}

#org-dialog td {
	text-align: center;
	border-bottom: 1px dashed #ccc;
	vertical-align: middle
}

#org-dialog .btn-large {
	width: 300px;
	margin: 0 0 20px auto
}

#org-dialog .search-input {
	margin-bottom: 15px;
	text-align: right
}

#org-dialog .search-input i {
	position: relative;
	top: 1px;
	left: 23px;
	color: #666
}

#org-dialog .search-input input {
	line-height: 1.8em;
	border-radius: 3em;
	width: 6em;
	border: 1px solid #ccc;
	padding-left: 2em;
	transition: width .5s;
	-moz-transition: width .5s;
	-webkit-transition: width .5s;
	-o-transition: width .5s
}

#org-dialog .search-input input:focus {
	width: 15em
}

.right-link .in-gh {
	background: #d63536;
	color: #fff;
	padding: 0 20px;
	margin-right: 10px
}

a {
	color: inherit;
	text-decoration: none
}

a:hover,
a:visited,
a:link,
a:active {
	color: inherit;
	text-decoration: none !important
}

.news-bg {
	background: #f3f3f3;
	padding: 15px 0
}

.news-box {
	background: #f3f3f3;
	border: 1px #e3e3e3 solid;
	width: 1200px;
	margin: 0 auto
}

.news-box .news-left {
	float: left;
	width: 18%
}

.news-box .news-left ul {
	margin: 0;
	padding: 0
}

.news-box .news-left ul li {
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #333;
	border: 1px #e3e3e3 solid;
	text-align: center;
	background: #f8f8f8;
	border-left: none;
	border-top: none
}

.news-box .news-left ul .active,
.news-box .news-left ul li:hover {
	background: #fff;
	display: block;
	position: relative;
	left: -2px;
	border-left: 3px #dd2c37 solid;
	cursor: pointer;
	height: 50px;
	border-right: none
}

.news-box .news-right {
	background: #fff;
	display: table;
	padding: 25px;
	font-size: 14px;
	height: 100%
}

.history_content {
	border-left: 6px #e6eaed solid;
	position: relative;
	left: 90px;
	padding-bottom: 1px
}

.history_content .history_content_right {
	border-left: 5px #e6eaed solid;
	margin-left: 27%;
	position: relative;
	top: 30px
}

.history_content_right div {
	position: relative;
	left: 130px
}

.history_content_right div span {
	left: -330px;
	top: -6px
}

.history_content_right div dl {
	max-width: 500px;
	background: #e6e9ee;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 50px;
	margin-left: -14%
}

.history_content_right div dl dd {
	line-height: 25px;
	letter-spacing: 1px
}

.history_content_right div dl dt {
	line-height: 25px;
	letter-spacing: 1px;
	font-size: 18px;
	text-indent: 3px
}

.history_content_right div .his-tl {
	position: absolute;
	top: -17px;
	left: -17.2%;
	transform: rotate(118deg);
	-ms-transform: rotate(118deg);
	-moz-transform: rotate(118deg);
	-webkit-transform: rotate(118deg);
	-o-transform: rotate(118deg);
	color: #e6e9ee;
	font-size: 40px
}

.history_content_right div img {
	position: absolute;
	left: -141px;
	top: -12px
}

.history_content_right div p {
	position: absolute;
	left: -235px;
	top: -10px;
	padding: 6px 3px;
	background: #7cd1fa;
	text-align: center;
	color: #fff;
	border-radius: 4px;
	font-size: 14px
}

.history_now {
	position: absolute;
	top: 25px;
	font-size: 16px;
	left: -8%
}

.history_year {
	position: absolute;
	top: 110px;
	font-size: 18px;
	left: 6%
}

.history_bs {
	width: 6px;
	position: absolute;
	left: -6px;
	top: -1px;
	height: 70px;
	border-radius: 5px;
	background: #ffa412
}

.rel {
	position: relative
}

.history_2014 {
	position: absolute;
	font-size: 18px
}

.news-all .n-dl {
	line-height: 28px;
	margin-bottom: 30px
}

.news-all .n-dl img {
	max-width: 900px;
	padding-bottom: 10px
}

.news-all .n-dl .n-title,
#rate-report a .h4 {
	font-size: 18px;
	font-weight: normal;
	padding: 5px 0
}

.news-all .n-dl dd,
#rate-report .h4 {
	line-height: 28px;
	font-weight: normal
}

.news-all .n-dl .n-date {
	color: #6d6e70;
	font-size: 12px
}

.news-all .n-dl .n-content {
	color: #6f6f6f
}

.news-all .n-dl .n-more {
	color: #c2502e
}

.pagination li a {
	margin: 0 10px;
	border: none;
	color: #475b66
}

.pagination li.active a {
	background-color: #475b66;
	border-radius: 5px;
	color: #fff
}

.pagination li>span {
	color: #475b66;
	border: none;
	cursor: text
}

.pagination li>span:hover {
	background: none
}

.pagination .pagprev a,
.pagination .pagnext a {
	padding: 9px 12px
}

.pagination li a,
.pagination li span {
	border: none
}

.page {
	text-align: center
}

.report-box .h4 {
	font-size: 18px;
	color: #222;
	padding-bottom: 25px
}

.report-box .report-content {
	color: #666;
	line-height: 28px;
	text-indent: 30px;
	margin-bottom: 30px
}

.report-box .report-list li {
	color: #444;
	height: 40px;
	line-height: 40px;
	padding: 12px 50px 45px;
	background: url("/resource/web/img/news/rate.jpg") no-repeat 6px 13px;
	border-bottom: 1px solid #c6cbcf
}

.report-box .report-list li a {
	display: block
}

.news-detail {
	width: 1200px;
	margin: 0 auto;
	padding: 20px 20px 30px 20px;
	background: #fff;
	text-align: center
}

.news-detail h2 {
	border-bottom: 1px solid #efefef;
	padding: 15px 0 8px;
	margin-bottom: 8px
}

.news-detail .news-dcont {
	text-align: left;
	padding-top: 20px;
	line-height: 30px;
	color: #3e3e3e
}

.news-detail .news-dcont img {
	width: 100%;
	height: auto;
	max-width: 1596px
}

#newsHistory,
#newsReport,
#newsEvaluate {
	display: none
}

[name=wjs-news-media]:focus,
[name=wjs-news-industryhis]:focus,
[name=wjs-news-rate]:focus,
[name=wjs-news-top]:focus {
	outline: none;
	border: none
}